<div #mainNavView class="navview-compact-lg" data-role="navview">
  <div class="navview-pane z-10">
    <div data-role="appbar" class="pos-absolute bg-darkCyan fg-white app-bar" data-role-appbar="true">
    </div>
    <div class="navview-container" style="top: 52px; height: calc(100vh - 52px);">
      <ul class="navview-menu mt-4" id="side-menu">
        <li *ngFor="let menu of menus" [ngClass]="menu.active ? 'active' : null" (click)="toggleMenu(menu)">
          <a class="dropdown-toggle" [ngClass]="menu.isOpen ? 'active-toggle' : null">
            <span class="icon"><span [ngClass]="'mif-'+menu.icon"></span></span>
            <span class="caption">{{menu.name}}</span>
          </a>
          <ul class="navview-menu stay-open" data-role="dropdown" data-role-dropdown="true"
              [ngStyle]="{'display': menu.isOpen ? 'block' : 'none'}">
            <li class="item-header">{{menu.name}}</li>
            <li *ngFor="let subMenu of menu.subMenus">
              <a [routerLink]="menu.url + '/' + subMenu.url" (click)="onClickMenu($event, menu)">
                <span class="icon"><span [ngClass]="'mif-'+subMenu.icon"></span></span>
                <span class="caption">{{subMenu.name}}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div #mainNavViewContent class="navview-content d-flex flex-row h-100" (click)="onContentClick($event)">
    <div data-role="appbar" class="pos-absolute bg-darkCyan fg-white app-bar" data-role-appbar="true">
      <button class="pull-button m-0 bg-darkCyan-hover" (click)="toggleNavview()">
        <span class="fg-white mif-menu"></span>
      </button>
      <div class="app-bar-container ml-auto">
        <div class="app-bar-container">
          <a href="#" class="app-bar-item">
            <img src="https://themes.org.ua/pandora/images/jek_vorobey.jpg" class="avatar">
            <span class="ml-2 app-bar-name">Jack Sparrow</span>
          </a>
          <div class="user-block shadow-1" data-role="collapse" data-collapsed="true" data-role-collapse="true" style="display: none;">
            <div class="bg-darkCyan fg-white p-2 text-center">
              <img src="https://themes.org.ua/pandora/images/jek_vorobey.jpg" class="avatar">
              <div class="h4 mb-0">Jack Sparrow</div>
              <div>Pirate captain</div>
            </div>
            <div class="bg-white d-flex flex-justify-between flex-equal-items p-2">
              <button class="button flat-button">Followers</button>
              <button class="button flat-button">Sales</button>
              <button class="button flat-button">Friends</button>
            </div>
            <div class="bg-white d-flex flex-justify-between flex-equal-items p-2 bg-light">
              <button class="button mr-1">Profile</button>
              <button class="button ml-1">Sign out</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
